* {
  font-family: Arial, Helvetica, sans-serif;
  color: #212121;
}

html {
  margin: 1rem 2rem 1rem 2rem;
}

/* No Page */
.noPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;

}

/* Navbar */

.navBar {
  display: flex;
  justify-content: space-between;
}

.homeLink {
  text-decoration: none;
  color: #212121;
  font-size: large;
  font-weight: 600;
}

.createBtn {
  height: 2rem;
}


/* Create Page & Components  */

.createPageTitle {
  font-weight: 600;
  font-size: 1.2rem;

}

.formWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.form {
  width: 20rem;
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  text-indent: 1rem;
  border-radius: 6px;
}

.search {
  display: flex;
  flex-direction: row;
}

 .searchBtn, button{
  height: 2.3rem;
  align-items: center;
  margin-left: 1rem;
  background-color: white;
  border: solid 2px #212121;
  border-radius: 6px;
  transition: ease-in-out 0.2s;
}

.searchBtn:hover, button:hover {
  background-color: #212121;
  color: white;
}

.search input {
  height: 2.3rem;
  width: 15.2rem;
  margin-bottom: 1rem;
}

.reviewTitle input {
  height: 2rem;
  width: 19.5rem;
  margin-bottom: 1rem;
  border: #212121 2px solid;
}

.reviewTxt textarea{
  margin-bottom: 1rem;
  border-radius: 6px;
  text-align: left;
  transition: ease-in-out 0.1s;
  position: absolute;
}

.reviewTxt textarea:focus{
 outline: none;
 border: #212121 2px solid;
}

.reviewRating input {
  position: relative;
  top: 26.5rem;
  height: 2rem;
  width: 4rem;
  margin-bottom: 1rem;
  text-indent: 1rem;
}

.submit input{
  position: absolute;
  bottom: .7rem;
  height: 2.5rem;
  text-indent: 0;
  background-color: white;
  width: 10rem;
  font-size: large;
  font-weight: 600;
  transition: ease-in-out 0.2s;

}

.submit input:hover {
  background-color: #212121;
  color: white;
}
